
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.Column {
    display: flex;
    flex-direction: column;
}

.CoursesPage {
    position: absolute;
    top: 75px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;

    padding-top: 50px;
    padding-bottom: 200px;
}

.EditButton {
    position: fixed;

    top: 95px;
    left: 20px;

    width: 30px;
    height: 30px;

    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 20px;

    background-color: #61ADFE;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

    z-index: 2;
}
