
.Column {
	display: flex;
	flex-direction: column;
}

.CoursesPage {
	position: absolute;
	top: 75px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;

	padding-top: 50px;
	padding-bottom: 200px;
}

.EditButton {
	position: fixed;

	top: 95px;
	left: 20px;

	width: 30px;
	height: 30px;

	color: white;
	text-align: center;
	line-height: 30px;
	font-size: 20px;

	background-color: #61ADFE;
	border: none;
	border-radius: 50%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

	z-index: 2;
}

.ViewToggleButton {
	position: fixed;

	top: 95px;
	left: 60px;

	width: 30px;
	height: 30px;

	color: white;
	text-align: center;
	line-height: 30px;
	font-size: 20px;

	background-color: lightgreen;
	border: none;
	border-radius: 50%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

	z-index: 2;
}

.SemesterAll{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.SemesterButton{
	margin-right: auto;
}
