
.row{
	display: flex;
	flex-direction: row;
}

.reqsList {
  height: 430px;
  scrollbar-color: rgb(131, 131, 131) transparent;
  scrollbar-width: thin;
  overflow-y: scroll;
  padding-right: 7px;
  overflow-x: hidden;
}

.subsectionHeader {
  color: grey;
  font-size: 18px;
  font-weight: 501;
}

.reqsContainer {
  padding: 20px;
  border-radius: 25px;
  width: 490px;
  height: 490px;
  min-width: 390px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

