
.Row {
  display: flex;
  flex-direction: row;
}

.NavBar {
  position: fixed;
  z-index: 2;


  left: 0;
  width: 100%;
  top: 0;
  height: 75px;

  display: flex;
	flex-direction: row;

  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  background-color: #ffffff;
	border-bottom: 1px solid black;
  /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); */
}

.NavBar .activeLink {
  color: #598ff4;
  font-size: 20px; /* Increase font size */
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  transition: color 0.3s;
}

.NavBar .dormantLink {
  color: #000000;
  font-size: 20px; /* Increase font size */
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  transition: color 0.3s;
}

.Logo {
	margin-right: 10px;
	margin-left: 20px;
}

.Circle {
  width: 35px; 
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  border: 2px solid transparent; /* Default border is invisible */
  
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

/* .Circle:hover {
  border-color: #cce5ff; 
} */