
.Column {
	display: flex;
	flex-direction: column;
}

.Row{
	display: flex;
	flex-direction: row;
}

.RequirementsContainer {
	/* border: 1px solid green; */

	margin-top: 37px;

	width: 600px;
	height: 650px;

  /* min-width: 390px; */

  /* background-color: white; */
	/* padding: 20px; */
  /* border-radius: 25px; */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
}

.ReqsList {
	border: 1px solid white;
/* 
  height: 430px;
  scrollbar-color: rgb(131, 131, 131) transparent;
  scrollbar-width: thin;
  overflow-y: scroll;
  padding-right: 7px;
  overflow-x: hidden; */
}

.ReqHeader {
  color: grey;
  font-size: 18px;
  font-weight: 501;
}

.SubHeader {
  color: grey;
  font-size: 14px;
  font-weight: 500;
}

.SubDesc {
  color: grey;
	font-style: italic;
  font-size: 12px;
  font-weight: 500;
}


.EmptyCourse {
  border-radius: 15px;
  /* padding: 2px 2px; e7e7e7c3 */
  background-color: #F5F5F5; 
  transition: filter 0.4s ease;
  width: 24px; /* Adjust width to match CourseIcon */
  height: 24px; /* Adjust height to match CourseIcon */
  display: inline-block; /* Keeps it inline with other elements */
}

.EmptyCourse:hover {
	cursor: pointer;
	filter: brightness(95%);
}

.ToggleButton {
	margin-top: 3px;

  cursor: pointer;
  background: none;
  border: none;
  color: #65a8f0;
  font-size: 14px;
}


.ButtonRow {
  display: flex;
  flex-direction: row;
}

.resetButton {
  margin-right: 10px; /* Add margin to the right of the reset button */
  opacity: 0; /* Make it invisible */
  pointer-events: none; /* Make it unclickable */
}

.editButton {
  margin-right: 0; /* Remove margin for the last child */
}

.resetButton.visible {
  opacity: 1; /* Make it visible */
  pointer-events: auto; /* Make it clickable */
}

.resetButton:hover, .editButton:hover {
  color: #666; /* Slightly lighter color on hover */
  cursor: pointer; /* Show pointer cursor on hover */
}

.resetButton:active, .editButton:active {
  color: #333; /* Darker color on click */
}




.ButtonRow {
  display: flex;
  gap: 6px;
	margin-bottom: 2px;
}

.SubreqButton {
	font-size: 10px;
	padding: 3px;

  cursor: pointer;
  border-radius: 6px;

  background-color: rgb(211, 211, 211);
  color: white;
  transition: background-color 0.3s ease;
}

.SubreqButton.Selected {
  background-color: rgb(100, 178, 238);
}