
.Column {
	display: flex;
	flex-direction: column;
}

.Row{
	display: flex;
	flex-direction: row;
}

.RequirementsContainer {
	/* border: 1px solid green; */
	margin-top: 37px;
	width: 600px;
	height: 650px;
}

.ReqsList {
	border: 1px solid white;
	margin-left: 30px;
/* 
  height: 430px;
  scrollbar-color: rgb(131, 131, 131) transparent;
  scrollbar-width: thin;
  overflow-y: scroll;
  padding-right: 7px;
  overflow-x: hidden; 
*/
}

.ReqHeader {
  color: grey;
  font-size: 18px;
  font-weight: 501;
}

.SubHeader {
  color: grey;
  font-size: 14px;
  font-weight: 500;
}

.SubDesc {
  color: grey;
	font-style: italic;
  font-size: 12px;
  font-weight: 500;
	margin-bottom: 4px;
}

.ToggleButton {
	margin-top: 3px;

  cursor: pointer;
  background: none;
  border: none;
  color: #65a8f0;
  font-size: 14px;
}

.ButtonRow {
  display: flex;
  gap: 6px;
	margin-bottom: 2px;
}

.SubreqButton {
	font-size: 10px;
	padding: 3px;

  cursor: pointer;
  border-radius: 6px;

  background-color: rgb(211, 211, 211);
  color: white;
  transition: background-color 0.3s ease;
}

.SubreqButton.Selected {
  background-color: rgb(100, 178, 238);
}



.RequirementsContainerHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;
	font-size: 30px;
	padding: 2px 8px;
}

.GoldBackground {
  /* background-color: rgba(255, 215, 0, 0.3);
	border-radius: 2px; */
}

.EditButton:hover {
  cursor: pointer; /* Show pointer cursor on hover */
}
