
.CourseIcon {
	display: flex;
	flex-direction: row;
	
	align-items: center;

	border-radius: 15px;

	width: max-content;
	padding: 2px 4px;

	font-size: 14px;
	font-weight: bold;

	background-color: #F5F5F5;
	transition: filter 0.4s ease;
}

.CourseIcon:hover {
	cursor: pointer;
	filter: brightness(95%);
}

.Mark { 
	padding-left: 1px;
	padding-right: 1px;
}




.OrIconContainer {
  display: flex;
  align-items: center;
  padding: 2px 4px;
  border-radius: 15px;
  background-color: #e3e3e3;
  transition: filter 0.4s ease;
  margin-right: 2px;
}

.OrIconContainer:hover {
  cursor: pointer;
  filter: brightness(95%);
}

.OrSeparator {
  margin-bottom: 3px;
	margin-right: 2px;
  font-size: 14px;
  font-weight: bold;
}