
.Icon {
	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: center;

	font-size: 14px;
	font-weight: bold;

	padding: 2px 4px;
	border-radius: 15px;

	width: max-content;
	min-width: 14px;
	height: 18px;

	background-color: #F5F5F5;
	transition: filter 0.3s ease;
}

.Icon:hover {
	cursor: pointer;
	filter: brightness(95%);
}

.StudentCourseIcon {
  background-color: #E1E9F8;
}

.RemoveButton {
	margin-right: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}




.AddButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 22px; 
  height: 22px; 

	font-size: 12px;
  font-weight: bold;

  border-radius: 50%;
  background-color: #F5F5F5;
  
  cursor: pointer;
  overflow: hidden;
}

.AddCanvas {
  display: flex;
	flex-direction: row;
  align-items: center;

	height: 20px;
  width: 90px;

  background-color: #F5F5F5;
  border-radius: 15px;
  padding: 1px 4px;
}

.CodeSearch {
	height: 14px;
	width: 70px;

	font-size: 12px; /* Matching font size */
	padding: 1px;

  border: none;
  outline: none;
  background-color: white;
  color: black;

	border-radius: 3px; /* Makes it a circle */
}