
.Icon {
	display: flex;
	flex-direction: row;
	
	align-items: center;

	border-radius: 15px;

	width: max-content;
	padding: 2px 4px;
	min-height: 18px;

	font-size: 14px;
	font-weight: bold;

	background-color: #F5F5F5;
	transition: filter 0.4s ease;
}

.Icon:hover {
	cursor: pointer;
	filter: brightness(95%);
}

.CourseIcon {
  background-color: #F5F5F5;
}

.StudentCourseIcon {
  background-color: #E1E9F8;
}

.RemoveButton {
	margin-right: 4px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgb(237, 237, 237);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}








.IconContainer {
  position: relative;
  display: inline-block;
}

.EmptyIcon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #f5f5f5;
  cursor: default;
}

.EmptyIcon:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}

.AddCoursePopup {
  position: absolute;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border: 1px solid #ddd;
  padding: 6px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  border-radius: 5px;
  z-index: 10;
  width: fit-content; 
  min-width: 60px;  
}

.AddCoursePopup input {
  width: 75px; 
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
	font-size: 12px;
}

.ConfirmButton {
  cursor: pointer;
	color: green;
}
