

.Row {
	display: flex;
	flex-direction: row;
}

.Column {
	display: flex;
	flex-direction: column;
}

.OnboardContainer {
	position: absolute;
	top: 75px;
	
	display: flex;
	flex-direction: column;

	align-items: center;

	width: 100%;

	padding-top: 50px;
	padding-bottom: 500px;
}