
.Row {
	display: flex;
	flex-direction: row;
}

.CourseBox {
	display: flex;
	flex-direction: row;

	gap: 4px;

	justify-content: center;
	align-items: center;

	background: #F5F5F5;
	border: black;

	width: max-content;
	min-width: 36px;
	height: 36px;

	border-radius: 16px;
	cursor: pointer;
}

.DropBox {
	display: flex;
	flex-direction: row;

	align-items: center;

	border: none;
	background-color: white;

	position: relative;
	cursor: pointer;

	height: 22px;
	width: 80px;
	box-sizing: border-box;

	font-size: 12px;
	color: black;
}

.DropdownOptions {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  top: 100%;
  left: 0;
  margin-top: 5px;
  z-index: 9999;
  width: 90px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  font-size: 12px;
  box-sizing: border-box;
}

.DropdownOptions div {
  padding: 8px;
  cursor: pointer;
  color: black;
  background-color: white;
}

.DropdownOptions div:hover {
  background-color: #f0f0f0;
}

.SelectedDropdownOption {
  background-color: #93c7ff !important; 
  color: black; 
}

.InputBox {
	background-color: white;

	border: none;
	outline: none;

	height: 22px;
	box-sizing: border-box;
	
	font-size: 12px;
	font-weight: 500;
	
}
.InputBox:focus {
	border-color: #aaa;
	outline: none;
}
.InputBox::placeholder {
	color: grey;
	font-style: italic;
}

.FuncButton {
	border: none;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;

	width: 20px;
	height: 20px;
	border-radius: 50%;
}
