
.Row {
	display: flex;
	flex-direction: row;
}

.Column {
	display: flex;
	flex-direction: column;
}

.DegreeIcon {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
  width: auto;
  padding: 2px 4px;
  font-size: 14px;
  font-weight: bold;
  background-color: #F5F5F5;
  transition: filter 0.4s ease;
  margin-right: 2px;
}

.DegreeIcon:hover {
	cursor: pointer;
	filter: brightness(95%);
}

.Mark { 
	padding-left: 1px;
	padding-right: 1px;
}

.search-bar-container {
  position: relative;
  width: 200px;
}

.search-bar-input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.search-bar-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1000;
  max-height: 150px;
  overflow-y: auto;
}

.search-bar-item {
  padding: 8px;
  cursor: pointer;
}

.search-bar-item:nth-child(even) {
  background-color: #f9f9f9;
}

.search-bar-item:nth-child(odd) {
  background-color: #ffffff;
}