
.Row {
	display: flex;
	flex-direction: row;
}

.Column {
	display: flex;
	flex-direction: column;
}

.AccountPage {
	position: absolute;
	top: 75px;
	
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	padding-top: 50px;
	padding-bottom: 200px;
}

.AccountContent {
	width: 600px; /* Adjust the width as needed */
	padding: 20px;
	background-color: white; /* Optional, just to make the box visible */
	border-radius: 10px; /* Optional, for rounded corners */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional, for a subtle shadow */
	
	display: flex;
	flex-direction: column;
	align-items: flex-start; /* Ensures text and elements inside are left-aligned */
}
