

.Row {
	display: flex;
	flex-direction: row;
}

.Column {
	display: flex;
	flex-direction: column;
}

.InputContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.Label {
  font-weight: bold;
	margin-right: 4px;
	margin-bottom: 3px;
}

.InputBox {
	height: 10px;
  padding: 4px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease-in-out;
}

.InputBox:focus {
  border-color: #82beff; /* Blue border on focus */
  outline: none;
}

.LanguageLevelBox {
  height: 24px; /* Matches InputBox height */
  padding: 5px 7px; /* Matches InputBox padding */
  border: 2px solid #ccc; /* Matches InputBox border */
  border-radius: 5px; /* Matches InputBox border-radius */
  font-size: 14px; /* Matches InputBox font-size */
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: black;
  position: relative;
  transition: border-color 0.3s ease-in-out;
}

.LanguageLevel:hover {
	border-color: #aaa;
}

.LanguageLevelOptions {
	position: absolute;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	top: 100%;
	left: 0;
	margin-top: 5px;
	z-index: 9999;
	/* width: 90px; */
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	max-height: 200px;
	overflow-y: auto;
	font-size: 12px;
	box-sizing: border-box;
}

.LanguageLevelOptions div {
	padding: 8px;
	cursor: pointer;
	color: black;
	background-color: white;
}

.LanguageLevelOptions div:hover {
	background-color: #f0f0f0;
}

.SelectedTerm {
	background-color: #93c7ff !important; /* Light blue background for the selected term */
	color: black; /* Optional: change text color for selected term */
}