.row {
  display: flex;
  flex-direction: row;
}

.NavBar {
  position: fixed;
  z-index: 2;


  left: 0;
  width: 100%;
  top: 0;
  height: 75px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.NavBar .activeLink {
  color: #598ff4;
  font-size: 20px; /* Increase font size */
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  transition: color 0.3s;
}

.NavBar .dormantLink {
  color: #000000;
  font-size: 20px; /* Increase font size */
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  transition: color 0.3s;
}
