
.Row{
	display: flex;
	flex-direction: row;
}

.AddButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 22px; 
  height: 22px; 

	font-size: 12px;
  font-weight: bold;

  border-radius: 50%;
  background-color: #F5F5F5;
  
  cursor: pointer;
  overflow: hidden;
}

.AddCanvas {
  display: flex;
	flex-direction: row;
  align-items: center;

	height: 20px;
  width: 90px;

  background-color: #F5F5F5;
  border-radius: 15px;
  padding: 1px 4px;
}

.CodeSearch {
	height: 14px;
	width: 70px;

	font-size: 12px; /* Matching font size */
	padding: 1px;

  border: none;
  outline: none;
  background-color: white;
  color: black;

	border-radius: 3px; /* Makes it a circle */
}






.DeactivateButton {
	display: flex;
	margin-right: 3px;

	width: 12px; 
	height: 12px;
	border-radius: 50%;

	background-color: #d4d4d4;
	cursor: pointer;
}

.DeactivateButton:hover {
	background-color: #e8e8e8; /* slightly darker grey on hover */
}
