
.Row {
	display: flex;
	flex-direction: row;
}

.Column {
	display: flex;
	flex-direction: column;
}

.CourseBox {
	display: flex;
	flex-direction: row;

	justify-content: space-between;
	align-items: center;

	width: 420px;
	height: 36px;
	border-radius: 16px;
}

.CourseCode {
	font-size: 12px;
	font-weight: 500;
}

.CourseTitle {
	font-size: 8px;
	font-weight: 500;
}

.FuncButton {
	border: none;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.RemovingState {
  cursor: not-allowed;
  opacity: 0.7;
}

.SelectionLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.HiddenCheckbox {
  display: none;
}

.CustomCheckbox {
	display: flex;
  align-items: center;
  justify-content: center;

  width: 12px;
  height: 12px;

	margin-left: -5px;
	margin-right: 5px;

  border: 2px solid #ccc;
  border-radius: 3px;

  background-color: white;

  font-size: 12px;

  user-select: none;

}

.SelectedCheckbox {

}

.PendingState {
  opacity: 0.7;
}