
.Row {
	display: flex;
	flex-direction: row;
}

.Column {
	display: flex;
	flex-direction: column;
}

.CourseBox {
	display: flex;
	flex-direction: row;

	justify-content: space-between;
	align-items: center;

	width: 420px;
	height: 36px;
	border-radius: 16px;

	margin-bottom: 4px;
	/* transition: transform 200ms ease, background 200ms ease; */
}

.CourseCode {
	font-size: 12px;
	font-weight: 500;
}

.CourseTitle {
	font-size: 8px;
	font-weight: 500;
}

.FuncButton {
	border: none;
	padding: 0;
	border: none;
	cursor: pointer;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 16px;

	margin-left: 2px;
	margin-right: 2px;
	margin-top: 2px;
}

.RemovingState {
  cursor: not-allowed;
  opacity: 0.7;
}

.SelectionLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.HiddenCheckbox {
  display: none;
}

.CustomCheckbox {
	display: flex;
  align-items: center;
  justify-content: center;

  width: 12px;
  height: 12px;

	margin-left: -5px;
	margin-right: 2px;

  border: 2px solid #d8d8d8;
  border-radius: 3px;

  background-color: white;

  font-size: 12px;

  user-select: none;

}

.PendingState {
  opacity: 0.7;
}

.GripIcon {
  cursor: grab;
  font-size: 20px;
  user-select: none;
	margin-left: 4px;
	margin-right: 4px;
}

.Checkmark {
	justify-content: center;
	text-align: center;

	font-weight: 550;
	margin-right: 2px;
}