
.container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 50px 125px;
  /* border: 1px solid black; */
}

.majorContainer {
  padding: 20px;
  width: 600px;
  height: 400px;
  background-color: white;
  margin-right: 55px;
  /* border: 1px solid black; */
}

.reqsContainer {
  padding: 20px;
  border-radius: 25px;
  width: 500px;
  height: 500px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.subsectionHeader {
  color: grey;
  font-size: 18px;
  font-weight: 525;
}

/* Major Metadata ************************************************************/

.pinkMajorBox {
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #D69CD8; 
  color: #D69CD8;
  border-radius: 4px; 
  text-align: center;
}

.coursesBox {
  display: inline-block; /* Display as inline block */
  width: max-content; /* Set width to maximum content size */
  padding: 0 6px; 
  font-size: 12px;
  border: 1px solid grey; 
  color: black; /* Black text */
  border-radius: 4px; /* Rounded corners */
  text-align: center;
}

.ratingBox {
  display: inline-block; /* Display as inline block */
  width: max-content; /* Set width to maximum content size */
  padding: 0 6px; 
  font-size: 12px;
  border: 1px solid white; 
  color: #66C10A; /* Dark green text */
  background-color: #D9F4CF; /* Light green background fill */
  border-radius: 4px; /* Rounded corners */
  text-align: center;
}

.workloadBox {
  display: inline-block; /* Display as inline block */
  width: max-content; /* Set width to maximum content size */
  padding: 0 6px; 
  font-size: 12px;
  border: 1px solid white; 
  color: #CA7108; /* Dark green text */
  background-color: #F4E3CF; /* Light green background fill */
  border-radius: 4px; /* Rounded corners */
  text-align: center;
}

.link {
  text-decoration: none;
}

.linkBox {
  font-size: 15px;
  padding: 0 16px; 
  border: 1px solid gray;
  border-radius: 8px; /* Rounded corners */
  text-decoration: none;
  border-style: solid;
  text-align: center;
  margin-right: 10px;
}

.degreeButtons {
  
}

/* Major Requirements *********************************************************/

