
.satisfyCourseButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px; 
  height: 22px; 
  border-radius: 50%; /* Makes it a circle */
  background-color: #F5F5F5;
  font-size: 12px; /* Font size for the plus sign */
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
}

.satisfyCourseButton.expanded {
  width: 100px; 
	height: 22px;
  border-radius: 15px; 
}

.SatisfyCourseBox {
  display: flex;
  align-items: center;
  background-color: #F5F5F5;
  border-radius: 15px;
  padding: 2px 4px;

	height: 22px;
  width: 100px;
}

.CodeSearch {
	height: 16px;
	font-size: 14px; /* Matching font size */
	padding: 2px;

	width: 76px;
  border: none;
  outline: none;
  background-color: white;
  color: black;

	border-radius: 10%; /* Makes it a circle */
}

.DeactivateButton {
  border: 1px solid black;
	width: 10px;
  height: 10px;
	border-radius: 50%; /* Makes it a circle */
	margin-right: 2px;
  cursor: pointer;
}

.row{
	display: flex;
	flex-direction: row;
}





