
.RemoveButton {
	display: flex;
	margin-right: 3px;

	width: 10px; 
	height: 10px;
	border-radius: 50%;

	background-color: #ababab;
	cursor: pointer;
}

.RemoveButton:hover {
	background-color: #D3D3D3; /* slightly darker grey on hover */
}
