
.Column {
	display: flex;
	flex-direction: column;
}

.Row{
	display: flex;
	flex-direction: row;
}

.MetadataContainer{
	/* border: 1px solid red; */

	margin-top: 75px;

	width: 550px;
	height: 600px;
}

.countBox {
  display: inline-block; /* Display as inline block */
  width: max-content; /* Set width to maximum content size */
  padding: 0 6px;
  font-size: 12px;
  border: 1px solid grey;
  color: black; /* Black text */
  border-radius: 4px; /* Rounded corners */
  text-align: center;
}

.pinkMajorBox {
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #d69cd8;
  color: #d69cd8;
  border-radius: 4px;
  text-align: center;
}

.subsectionHeader {
  color: grey;
  font-size: 18px;
  font-weight: 501;
}

.evaluateBox {
  display: inline-block; /* Display as inline block */
  width: max-content; /* Set width to maximum content size */
  padding: 0 6px;
  font-size: 12px;
  border: 1px solid white;
  color: #66c10a; /* Dark green text */
  background-color: #d9f4cf; /* Light green background fill */
  border-radius: 4px; /* Rounded corners */
  text-align: center;
}

.link {
  text-decoration: none;
}

.linkBox {
  font-size: 15px;
  padding: 0 16px;
  border: 1px solid gray;
  border-radius: 8px; /* Rounded corners */
  text-decoration: none;
  border-style: solid;
  text-align: center;
  margin-right: 10px;
}

.MajorContainer {
	/* border: 1px solid gray; */

  width: auto;
  height: 400px;
  background-color: white;
}

.thumbtack {
  font-size: 28px;
  margin-right: 10px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.thumbtack:hover {
  opacity: 0.7; /* Slightly lighter on hover */
}

.thumbtack:active {
  opacity: 0.5; /* Even lighter on click */
}


.ScrollButton {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: inline-block;
}

.ToggleContainer {
  display: flex;
	flex-direction: row;

	margin-left: 80px;
	margin-bottom: 8px;
}

.ToggleOption {
	padding: 4px 10px;
  cursor: pointer;
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;

	border: 1px solid rgb(196, 196, 196);
	
}

.ToggleOption.active {
  background-color: #598ff4;
  color: white;
}