.collapseContainer {
  width: 200px;
  position: absolute;
  top: 60px;
  right: 0;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
  border-radius: 10px;
  transform: translate(0, -10px);
  opacity: 1;
  background-color: white;
}

.collapseContainer:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  border-radius: 10px;
  background-color: white;
  z-index: -1;
}

.collapseText {
  color: black;
  font-weight: 500;
  margin-bottom: 10px;
  text-decoration: none;
}

.innerText {
  display: flex;
  margin: 10px;
}

.navbarMe {
  /* padding-left: 1rem; */
  display: flex;
}

.meIcon {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  background-color: rgb(1 1 1 / 10%);
  color: var(--color-primary);
  transition: border-color var(--trans-dur), background-color var(--trans-dur),
    color var(--trans-dur);
}
