
.container {
    /* justify-content: space-between; */
    align-items: center;
    padding: 25px 125px;
}

.containerRecommendations {
    width: 1200px;
    height: 200px;
    margin-bottom: 30px;
}

.containerDistributions {
    margin-right: 80px;
}

.containerOverview {
    width: 325px;
    height: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 20px;
}

.overviewSection {
    display: flex;
    font-size: 18px; 
    font-weight: 540;
    color: grey;
    margin-bottom: 8px;
    justify-content: space-between;
}

th {
    text-align: left;
    color: #727272;
    font-size: 12px;
    padding-top: 10px;
}

.overviewDistBox {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    height: 20px;
    margin-bottom: 4px;
    padding: 0 6px; 

    font-size: 12px;
    font-weight: 550;

    border-radius: 8px; 
}
