@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.Container {
    margin: 2% 0% 2% 2%;
}
.Row {
    display: flex;
    flex-direction: row;
}

.Column {
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    width: 100%;
}

.MetadataColumn {
    font-size:small;
    display: flex;
    flex-direction: column;
    margin-right: 1%;
}

.MetadataHeading {
    color: #727272;
    margin-bottom: 2px;
}

.MetadataBox {
    border: 1px solid #C2C2C2;
    color: #727272;
    font-weight: 600;
    width: 40px;
    text-align: center
}

.Season {
    margin-right: 1.5%;
    margin-left: 1%;
}

.CourseCode {
    font-size: small;
    font-weight: 600;
}

.CourseName {
    font-size: x-small;
}

.Grade {
    font-weight: 600;
    font-size:x-large;
    margin-right: 0.5%;
}

.Year {
    font-size:medium;
    font-weight: 600;
    color: #727272;
    align-self:flex-end;
    margin-bottom: 2.5px;
}