
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* UTIL */

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

/* CONTAIN */

.CoursesPage {
    position: absolute;
    top: 75px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;

    padding-top: 50px;
    padding-bottom: 75px;
}

.AddCourseButton {
    position: fixed;

    top: 95px;
    left: 20px;

    width: 30px;
    height: 30px;

    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 20px;

    background-color: #61ADFE;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

    z-index: 2;
}

.AddCourseButton:active {
    background-color: #9cccff;
}

.AddCourseMenuDormant {
    position: fixed;

    top: 95px; 
    left: 20px;

    width: 30px; 
    height: 30px;

    border-radius: 50%; 
    transform: scale(0); 
    transition: transform 0.5s, width 0.5s, height 0.5s, border-radius 0.5s;
    background-color: white;
    /* border: 1px solid #61ADFE; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.125);
    z-index: 1; 
}

.AddCourseMenuActive {
    top: 135px; 

    width: 315px; 
    height: 700px; 

    border-radius: 15px; 
    transform: scale(1); 

    /* border: 1px solid blue; */
}

/* COURSES */

.courseBox {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 425px;
    height: 36px;

    border-radius: 16px;
    margin-bottom: 5px;

    padding-left: 10px;
    padding-right: 10px;

    background-color: #F5F5F5;
    transition: filter 0.4s ease;
}

.courseBox:hover {
    cursor: pointer;
    filter: brightness(95%);
}

.checkmark {
    justify-content: center;
    text-align: center;

    font-weight: 550;
    margin-right: 2px;
}

/* top top */

.Grade {
    font-weight: 600;
    font-size: 25px;
    margin-right: 10px;
}

.Year {
    font-size: 14px;
    font-weight: 600;
    color: #727272;
    align-self: flex-end;
    margin-bottom: 2.5px;
}

/* sem meta */

.MetadataColumn {
    font-size:small;
    display: flex;
    flex-direction: column;
    margin-right: 4px;
}

.MetadataHeading {
    color: #727272;
    margin-bottom: 2px;
}

.evaluateBox {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    height: 20px;
    padding: 0 6px; 

    font-size: 11px;
    font-weight: 510;

    border-radius: 4px; 
    color: #5aac08; 
    background-color: #D9F4CF; 
}

.distBox {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    height: 20px;
    padding: 0 6px; 

    font-size: 12px;
    font-weight: 510;

    border-radius: 4px; 
}

.countBox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

    width: max-content;
    height: 18px;
    padding: 0 6px; 

    font-size: 12px;
    font-weight: 500;

    border: 1px solid grey; 
    border-radius: 4px;
    color: black;
}



.optionsButton {
    background-color: white;
    border: none;
    border-radius: 8px;
    color: #598FF4;
    padding-right: 10px;
    padding-left: 10px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
}
  
.optionsButton:hover {
    background-color: #fafafa; /* Grey color */
}

.optionsChoice {
    background-color: white;
    border: none;
    border-radius: 8px;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
    height: 20px;
    font-size: 12px;
    cursor: pointer;
    align-content: center;
    text-align: center;
}

.optionsChoice:hover {
    background-color: #fafafa; /* Grey color */
}

.activeButton {
    background-color: #f0f0f0
}
