:root {
    --base-font-size: 16px;
    --num-font-size: 5vw;
    --num-container-height: 6vw;
    --num-margin-top: 8rem;
    --num-margin-left: 4rem;
}

html, body {
    height: 100%;
    margin: 0;
    font-size: var(--base-font-size);
}

.MainContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.OnboardContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
}

.column {
    display: flex;
    flex-direction: column;
}

.LeftColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: 100vh;
    padding: 20px;
}

.RightColumn {
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    padding-top: 20px; 
}

.HeaderText {
    font-size: 2.5rem;
    color: black;
    font-weight: 700;
}

.Content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.CourseDisplayBox {
    background-color: white;
    border-radius: 8px;
    margin-top: -20px;
}

.OptionBox {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 20px;
    background-color: white;
    width: 100%;
    min-height: 30rem; 
    max-width: 50vw;
    box-sizing: border-box;
    margin-top: calc(var(--num-margin-top) + 0.1666 * var(--num-container-height));
}

.ResultsContainer {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 20px;
    background-color: white;
    width: 100%;
    max-width: 50vw;
    box-sizing: border-box;
    position: relative;
    min-height: 25rem;
    max-height: 50rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.courseBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 36px;
    border-radius: 16px;
    margin-bottom: 5px; /* Adjust this value to change vertical spacing */
    padding-left: 10px;
    padding-right: 10px;
    transition: filter 0.4s ease;
    margin-right: 10px;
    flex: 0 1 auto;
}

.completeCourse {
    background-color: #dfe9f7;
}

.inProgressCourse {
    background-color: #f5f5f5;
}

.courseBox:hover {
    cursor: pointer;
    filter: brightness(95%);
}

.courseContent {
    display: flex;
    flex-direction: column;
    margin-left: 5px; /* Adjust this value to change spacing between icon and course code */
    flex: 1; /* Allow content to grow */
}

.courseCode {
    font-weight: bold;
}

.courseTitle {
    font-size: 0.75em;
    color: #555;
}

.removeCourse {
    color: red;
    font-size: 1rem;
    margin-left: 10px;
    cursor: pointer;
}

.seasonIcon {
    width: 16px;
    height: 16px;
    margin-right: 5px; /* Adjust this value to change spacing between icon and course code */
}

.YearHeader {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 10px;
}

.yearRange {
    font-size: 0.8em;
    color: gray;
    margin-left: 10px;
}

.yearComponent {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    transition: transform 0.5s ease, height 0.5s ease, width 0.5s ease;
}

.courseRow {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust this value to change horizontal spacing */
}

.TabContainer {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.TabButtons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HeaderText {
    flex-grow: 1;
}

.TabButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.TabButton svg {
    width: 24px;
    height: 24px;
}

.ActiveTab {
    background-color: #d3d3d3;
}

.OptionContent {
    width: 100%;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    background-color: white;
}

.TabContent {
    margin-top: 20px;
    flex-grow: 1;
    overflow-y: auto;
}

.JSONContainer {
    height: 400px;
    overflow-y: scroll;
}

.JSONPre {
    white-space: pre-wrap;
    border: none;
    padding: 10px;
    border-radius: 4px;
    background-color: #f5f5f5;
}

.btn {
    border: none;
    text-decoration: none;
    padding: 8px 24px;
    border-radius: 10px;
    font-weight: 500;
    color: #f0f6f8;
    background-color: #4692e8;
    transition: transform 0.3s, filter 0.3s;
    margin-top: 8px;
    font-size: large;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn:hover {
    text-decoration: none;
    transform: translateY(-5px);
    filter: brightness(90%);
}

.TextArea {
    width: 100%;
    min-height: 24rem;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
}

.Step {
    text-align: left;
    padding-top: 150px;
    padding-left: 80px;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(20px);
}

.Step:first-child {
    opacity: 1;
    transform: translateY(0);
}

.StepVisible {
    opacity: 1;
    transform: translateY(0);
}

.NumFlip {
    background-color: transparent;
    font-size: calc( 2 * var(--num-font-size)); /* Adjust the font size dynamically */
}

.NumContainer {
    overflow: hidden;
    height: calc(2 * var(--num-container-height)); /* Match the height of a single number dynamically */
    position: relative;
    background-color: transparent; /* Background color to blend with the main background */
}

.NumFullContainer {
    position: fixed;
    top: var(--num-margin-top); /* Adjust this value for desired distance from the top */
    left: var(--num-margin-left); /* Adjust this value for desired distance from the left */
    background-color: transparent;
    z-index: 1000;
    display: flex;
}

.Zero {
    font-size: calc( 2 * var(--num-font-size)); /* Adjust the font size dynamically */
}

.Padder {
    height: 80vh; 
    background-color: #ffffff;
}

.AddCourseContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
    max-width: 100%;
    box-sizing: border-box;
    right: 0;
    bottom: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    z-index: 1001;
}

.AddCourseContainer.show {
    transform: translateX(0);
}

.AddCourseButton {
    background-color: lightgray;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 16px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 48px;
    width: 48px;
}

.validForm {
    background-color: green;
}

.AddCourseForm .courseCodeInput {
    flex: 1;
    min-width: 150px; /* Reduced width of course code input */
    margin-right: 10px; /* Added space between course code input and select */
}

.AddCourseForm .termSelect,
.AddCourseForm .statusSelect {
    flex: 1;
    min-width: 100px;
    margin-right: 10px;
}

.AddCourseForm {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: calc(100% - 70px); /* Ensure the add button is visible */
    box-sizing: border-box;
}

.CompleteCheckbox {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    white-space: nowrap;
    margin-right: 10px; /* Added margin to the right for spacing */
}

.CompleteCheckbox input[type="checkbox"] {
    appearance: none;
    width: 18px; /* Adjusted width */
    height: 18px; /* Adjusted height */
    background-color: #e0e0e0;
    border-radius: 4px;
    border: 1px solid #b0b0b0;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.CompleteCheckbox input[type="checkbox"]:checked {
    background-color: #4692e8;
    border-color: #4692e8;
}

.CompleteCheckbox input[type="checkbox"]:hover {
    border-color: #0073e6;
}

.ResultsContainer {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 20px;
    background-color: white;
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
    position: relative;
    min-height: 25rem;
    max-height: 50rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.CloseButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.courseBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    border-radius: 16px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: filter 0.4s ease;
    flex: 0 1 auto;
}

.completeCourse {
    background-color: #dfe9f7;
}

.inProgressCourse {
    background-color: #f5f5f5;
}

.courseBox:hover {
    cursor: pointer;
    filter: brightness(95%);
}

.courseContent {
    display: flex;
    flex-direction: column;
    margin-left: 5px; /* Adjust this value to change spacing between icon and course code */
    flex: 1; /* Allow content to grow */
}

.courseCode {
    font-weight: bold;
}

.courseTitle {
    font-size: 0.75em;
    color: #555;
}

.removeCourse {
    color: red;
    font-size: 1rem;
    margin-left: 10px;
    cursor: pointer;
}

.seasonIcon {
    width: 16px;
    height: 16px;
    margin-right: 5px; /* Adjust this value to change spacing between icon and course code */
}

.YearHeader {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 10px;
}

.yearRange {
    font-size: 0.8em;
    color: gray;
    margin-left: 10px;
}

.yearComponent {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    transition: transform 0.5s ease, height 0.5s ease, width 0.5s ease;
}

.courseRow {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust this value to change horizontal spacing */
}

.TabContainer {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.TabButtons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HeaderText {
    flex-grow: 1;
}

.TabButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.TabButton svg {
    width: 24px;
    height: 24px;
}

.ActiveTab {
    background-color: #d3d3d3;
}

.OptionContent {
    width: 100%;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    background-color: white;
}

.TabContent {
    margin-top: 20px;
    flex-grow: 1;
    overflow-y: auto;
}

.JSONContainer {
    height: 400px;
    overflow-y: scroll;
}

.JSONPre {
    white-space: pre-wrap;
    border: none;
    padding: 10px;
    border-radius: 4px;
    background-color: #f5f5f5;
}

.btn {
    border: none;
    text-decoration: none;
    padding: 8px 24px;
    border-radius: 10px;
    font-weight: 500;
    color: #f0f6f8;
    background-color: #4692e8;
    transition: transform 0.3s, filter 0.3s;
    margin-top: 8px;
    font-size: large;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn:hover {
    text-decoration: none;
    transform: translateY(-5px);
    filter: brightness(90%);
}

.TextArea {
    width: 100%;
    min-height: 24rem;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
}

.Step {
    text-align: left;
    padding-top: 150px;
    padding-left: 80px;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(20px);
}

.Step:first-child {
    opacity: 1;
    transform: translateY(0);
}

.StepVisible {
    opacity: 1;
    transform: translateY(0);
}

.NumFlip {
    background-color: transparent;
    font-size: calc( 2 * var(--num-font-size)); /* Adjust the font size dynamically */
}

.NumContainer {
    overflow: hidden;
    height: calc(2 * var(--num-container-height)); /* Match the height of a single number dynamically */
    position: relative;
    background-color: transparent; /* Background color to blend with the main background */
}

.NumFullContainer {
    position: fixed;
    top: var(--num-margin-top); /* Adjust this value for desired distance from the top */
    left: var(--num-margin-left); /* Adjust this value for desired distance from the left */
    background-color: transparent;
    z-index: 1000;
    display: flex;
}

.Zero {
    font-size: calc( 2 * var(--num-font-size)); /* Adjust the font size dynamically */
}

.Padder {
    background-color: #ffffff;
}

.ModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.Modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    animation: fadeIn 0.3s ease;
}

.ModalButtons {
    display: flex;
    justify-content: space-between;
}

.courseCode {
    cursor: pointer;
}

.courseCodeHover {
    text-decoration: underline;
}

.VideoContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

.VideoContainer video {
    border-radius: 5px;
    width: 100%;
    max-width: 800px;
}

.courseCodeInput {
    border: 1px solid #ccc;
    background: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    outline: none;
    margin-left: -2px;
    padding: 8px;
    border-radius: 4px;
}

.TextContainer {
    font-size: 1.5rem;
    background-color: transparent;
    color: black;
    width: 100%;
    overflow: hidden;
    height: calc(var(--num-container-height) * 4);
}

.TextField {
    position: absolute;
    top: calc(2 * var(--num-container-height));
    left: calc(0.1 * var(--num-font-size));
    width: calc(var(--num-font-size) * 6);
    opacity: 0;
    text-align: left;
}

.TextFlip a {
    pointer-events: auto;
}

.TextFlip a:hover {
    text-decoration: underline;
}

.Link {
    color: #0073e6;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 1px solid transparent;
    z-index: 2;
}

.Link:hover {
    color: #005bb5;
}

/* Center the sync button within the right column */
.syncButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.syncButton {
    border: none;
    text-decoration: none;
    padding: 8px 24px;
    border-radius: 10px;
    font-weight: 500;
    color: #f0f6f8;
    background-color: #4692e8;
    transition: filter 0.3s;
    font-size: large;
    cursor: pointer;
    align-self: center;
}

.syncButton:hover {
    text-decoration: none;
    filter: brightness(90%);
}

/* Add this to your CSS file to style the input field and name hover effect */
.nameInput {
    border: none;
    border-bottom: 1px solid #000;
    font-size: 2.5rem;
    font-weight: 700;
    outline: none;
}

.name {
    font-size: 2.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: border-bottom 0.3s;
    display: inline-block;
}

.name:hover {
    border-bottom: 1px solid #000;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}